.Tablebox {
    width: 865px;
    height: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tablebox caption {
    display: flex;
    justify-content: space-between;
}

.Tablebox tr {

}

.Tablebox th {

}

.Tablebox td {
    
}