.headerbox {
    height: 77px;
    background-color: #DD5757;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subbox {
    color: #D9D9D9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 32px;

}

.Dooray {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.Calender {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left:20px;
    text-decoration: none;

}


.input {
    border:none;
    width: 424px;
    height: 53px;
    padding-left: 17px;
    background-color: #F2ADAD;
    color: #D3D3D3;
    margin-left:154px;
}

.right {
    color: white;
    font-size: 25px;
    margin-right: 42px;
    text-decoration: none;
}