.Imagebox {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 615px;
}

.Imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 615px;
    background-color: gray;

}

.iamgeitem1 {}